@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Pacifico&display=swap");

.containerTotal {
  z-index: 1;
  margin-top: 80px;
}
.catalogoText {
    display: flex;
    justify-content: center;
    position: relative;
}
.title {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: #6b4226;
  z-index: 2;
}
.title2 {
    font-family: "Pacifico", cursive;
    font-size: 30px;
    color: #f88f8f;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
