.passwordFieldContainer {
  position: relative;
  margin-bottom: 10px; /* Espacio inferior del campo */
}

.passwordInput {
  width: 93%;
  padding: 10px;
  padding-right: 40px; /* Espacio para el ícono */
  border: 2px solid #d47a7a;
  border-radius: 20px;
}

.toggleButton {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-65%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: #d47a7a; /* Color del ícono */
  font-size: 18px; /* Tamaño del ícono */
  padding: 0;
}

.toggleButton i {
  pointer-events: none; /* Evita que el ícono interfiera con el clic en el campo de entrada */
}

@media (min-width: 768px) {
  .passwordInput {
    width: 95%;
  }
}
@media (min-width: 1024px) {
    .passwordInput {
      width: 96.5%;
    }
  }
