.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: relative;
  z-index: 1;
  padding-bottom: 80px;
}
.footer p {
  color: #642020;
}
.footer a {
  color: #c77777;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.footer a:hover {
  color: #e27a7a;
}
.footer button {
  cursor: pointer;
  margin-top: 10px;
  background-color: #64202086;
  border-radius: 20px;
  border: 1px solid transparent;
  color: #ffffffe8;
  width: 150px;
  height: 25px;
  transition: all 0.5s ease-in-out;
}
.footer button:hover {
  background-color: #914848;
}
